<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "us.thedevbox.RemoteExample"
        versionCode="10" 
        version   = "0.0.2">

    <!-- versionCode is optional and Android only -->

    <name>Remote Example</name>

    <description>
        An example for phonegap build docs. 
    </description>

    <author href="" email="support@hpc.net">
        Hardeep Shoker 
    </author>
    <icon src="images/BenderIcon512.png" />

</widget>